<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConsumerKey" value="gOtcTBezGeubhD1Lii8H0k3Sb"/>
    <add key="ConsumerSecret" value="ouCZdpPhX4XB2mWn2Easz7gFBhO09gR3fgB4X8bWDWDoxv7kus"/>
    <add key="OAuthToken" value="827100903102672896-JM5klgDJGQ599m9kVEGnSCucJBiTTcC"/>
    <add key="OAuthTokenSecret" value="dmJjvB1Jq0WYO7ZSrsLDZYwcGrESS5u5JRXkafPLMVKhh"/>
  </appSettings>
</configuration>